<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% for article in articles %}
    <article>
      <section>
        <a href="{{article.slug}}">{{ article.title }}</a>
      </section>
      <section>{{ article.content }}</section>
      <footer>{{ article.publishAt }}</footer>
    </article>
    <br />
    <br />
    <br />
    {% endfor %}
  </body>
</html>
